/*--------- colors ----------*/

$dark-color: #363b47;
$blue: #3676bb;
$light-blue: #b2c6da;
$text-color: #8e878d;
$dark-gray: #e2e0e0;
$light-gray: #efeff1;
$creamy: #e8e6e0;
$card-color: #38485f;
$btn-color: #26a2cc;
$white: white;