*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family:'lato';
}

.container{
   width:90vw;
   max-width:1200px;
}



/* ------ navbar section ------ */
.navbar{
    background-color: $dark-color;
    display:flex;
    justify-content:center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    @media(min-width: 900px){
        position: unset;
    }
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1em 0;

    @media (min-width:900px) {
         padding: 1em 0 0 0;
    }

    .logo{
        color: $white;
        font-size:2rem;
        font-weight:700;

        a{
            color: $white;
            text-decoration: none;
        }
    }

    .nav-item{
        list-style:none;
        gap:2rem;
        visibility: hidden;
        overflow-y: hidden;
        height: 0;
        position: fixed;
        z-index: 10;
        top: 71px;
        left: 0;
        background-color: $dark-color;
        text-align: center;
        width: 100vw; 
        transition: all 800ms;

        &.visible{
            visibility: visible;
            height: 335px;
        }   

        @media (min-width:900px) {
            display: flex;
            justify-content: flex-end;
            height: auto;
            visibility: visible;
            overflow-y: visible;
            position: unset;
       }

       .links{
            padding: 1.5em;
            a{
                color:$text-color;
                text-decoration: none;
                font-weight: 300;
                font-size: .9rem;
            }
            &:hover{
                background-color: $blue;
                cursor: pointer;
            }

            &:hover a{
                color:white;
            }

           @media(min-width: 900px){
            border-radius: .2rem .2rem 0 0;
           }
        }

    }

    .menu-bar{
        background-color: transparent;
        border: none;
        cursor: pointer;
        @media (min-width:900px) {
            display: none;
       }
    }
    
}

/* ------ end of navbar section ------ */

/* ------ hero image ------ */

.hero-image{
    background-image:url('../img/bg-header.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ------ end of hero image ------ */
